@model Tasks.Models.UserPaymentViewModel


@using (Html.BeginForm("Validate", "User", FormMethod.Post))
{
    <div class="row">
        <div class="row">
            <div class="col-md-4 mb-3">
                @Html.LabelFor(model => model.Username, new { @class = "form-label" })
                @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Username)
            </div>
            <div class="col-md-4 mb-3">
                @Html.LabelFor(model => model.Amount, new { @class = "form-label" })
                @Html.TextBoxFor(model => model.Amount, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Amount)
            </div>
            <div class="col-md-4 mb-3">
                @Html.LabelFor(model => model.SelectedPaymentMode, new { @class = "form-label" })
                @Html.EnumDropDownListFor(model => model.SelectedPaymentMode, new { @class = "form-select" })
                @Html.ValidationMessageFor(model => model.SelectedPaymentMode)
            </div>
        </div>
        <fieldset @((Model.SelectedPaymentMode == Tasks.Models.PaymentMode.Credit) ? "" : "disabled") id="CreditCardDetails">
            <div class="row">
                <input type="hidden" id="CashPaymentMode" value="@Tasks.Models.PaymentMode.Cash" />
                <div class="col-md-5 mb-3">
                    @Html.LabelFor(model => model.CreditCardNumber, new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.CreditCardNumber, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CreditCardNumber)
                </div>
                <div class="col-md-3 mb-3">
                    @Html.LabelFor(model => model.CVV, new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.CVV, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CVV)
                </div>
                <div class="col-md-4 mb-3">
                    <div class="row">
                        <div class="col-12">
                            <label class="form-label">Expiry Date</label>
                        </div>
                        <div class="col-6">
                            @Html.DropDownListFor(model => model.SelectedMonth, Model.ExpiryDateMonthList, "MM", new { @class = "form-select" })
                            @Html.ValidationMessageFor(model => model.SelectedMonth)
                        </div>
                        <div class="col-6">
                            @Html.DropDownListFor(model => model.SelectedYear, Model.ExpiryDateYearList, "YYYY", new { @class = "form-select" })
                            @Html.ValidationMessageFor(model => model.SelectedYear)
                        </div>
                    </div>


                </div>

            </div>
        </fieldset>
        <div class="row">
            <div class="text-center">
                <button type="submit" class="btn btn-primary text ">
                    Validate
                </button>
            </div>

        </div>



    </div>
}

<script>
    $(document).ready(function () {
        $("#SelectedPaymentMode").change(function () {
            if ($("#SelectedPaymentMode option:selected").text() == $("#CashPaymentMode").val()) {
                $("#CreditCardDetails").attr("disabled", "");
            } else {
                $("#CreditCardDetails").removeAttr("disabled");
            }
        });
    });
</script>
